extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot your password?
      p.ma-bt-md Enter your email address and we will send you a link to reset your password.

      form.form#forgotPasswordForm
        .form__group
          label.form__label(for="email") Email address
          input#email.form__input(type="email", name="email", required, placeholder="you@example.com")
        .form__group
          button.btn.btn--green(type="submit") Send Reset Link
